<h1>Admin dashboard</h1>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Peticiones">
    <app-search-bar></app-search-bar>
    <mat-divider></mat-divider>
      <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <mat-divider></mat-divider>
    <app-book-requests> </app-book-requests>
    <app-paginator></app-paginator>
  </mat-tab>
  <mat-tab label="Usuarios">
    <app-user-management></app-user-management>
    <app-paginator></app-paginator>
  </mat-tab>
</mat-tab-group>
