.chat{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    font-family: inter;
}
.chat--userlist{
    height: 60vh;
    display: flex;
}

.chat--chatbox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat--chat{
    flex-grow: 1;    
    height: calc(100vh - 22em);
}

app-mailbox{
    width: 100%;
}

