.list--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 70vh;
  width: 80vw;
  margin-bottom: 5vh;
}

.list--img-container img {
  object-fit: cover;
  overflow: hidden;
  height: 50vh;
}

.mat-icon {
  color: #eab334;
}

.list--card-text {
  object-fit: cover;
  overflow: hidden;
  height: 15vh;
  margin-bottom: 2vh;
}

@media (max-width: 1024px) {
  .list--container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-items: center;
  }
}