<mat-list role="list" class="list list--container">
  <mat-list-item role="listitem">
    <mat-card *ngFor="let element of list | paginate:page_size:page_number">
      <button
          href="#"
          (click)="navigateTo(element.id_book)"
          routerLinkActive="active"
          class="list--button-container">
          <div class="list list--img-container">
            <img
              mat-card-image
              src="{{element.picture}}"
              alt="Photo de portada"
            />
          </div>            
        <mat-card-content>
          <div class="list list--card-text">
            <p class="mat-subheading-2"><b>{{element.name}}</b></p>
            <hr />
            <p class="mat-subheading-1">{{element.author.name_author}}</p>
          </div>
          <mat-icon>favorite_border</mat-icon>
          <mat-icon>add_shopping_cart</mat-icon>
        </mat-card-content>
      </button> 
    </mat-card>
  </mat-list-item>
</mat-list>
<mat-paginator
[length]="list.length"
[pageSize]="page_size"
aria-label="Select page"
(page)="handlePage($event)"
>
</mat-paginator>