.chat--messages {
  margin: 2em 2em 2em 4em;
  padding-right: 2em;
  overflow-y: scroll;
  height: 85%;
  display: flex;
  flex-direction: column;
}
p{
  font-family: Inter;
}
.chat {
  display: inline-block;
  border: 1px solid var(--primary-main-color);
  margin-bottom: 1em;
  padding: 0 1.8em;
}

.chat--incoming {
  background-color: var(--secondary-hover-color);
  border-radius: 10px 10px 10px 0;
  align-self: flex-start;
}
.chat--sent {
  border-radius: 10px 10px 0 10px;
  text-align: end;
  align-self: flex-end;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d68e36 #e4b978;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #e4b978;
}

*::-webkit-scrollbar-thumb {
  background-color: #d68e36;
  border-radius: 90px;
  border: 3px none #ffffff;
}
