<div class="modal-register">
<div class="register-card">
    <div>
    <h2 class="title-register">Registro</h2>
    </div>
    <div>
    <div class="container">
        <div appearance="fill">
        <input
            class="register-input"
            type="text"
            placeholder="Introduzca su nombre"
            name="name"
            [formControl]="name"
            required
        />
        </div>
    </div>
    <div class="register-container">
        <div appearance="fill">
        <input
            class="register-input"
            type="text"
            placeholder="Introzca su email"
            name="email"
            [formControl]="email"
            required
        />
        </div>
    </div>
    <div class="password-container">
        <div appearance="fill">
        <input
            class="register-input"
            type="password"
            placeholder="Crea una contraseña"
            password="password"
            [formControl]="password"
            required
        />
        </div>
    </div>
    </div>
    <h2 *ngIf="errorMsg">{{errorMsg}}</h2>
    <mat-card-actions (click)="register()" class="button-register">
    <div class="container-buttton">
        <button mat-raised-button color="accent"><p class="button-register">Registrar</p></button>
    </div>
    </mat-card-actions>
    <h4 class="text-link">¿Ya eres miembr@?</h4>
    <button class="link-login" (click)="openLogin()">Sign in</button>
</div>
</div>
