h1,
h2,
p {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.navbar-test {
  background-color: rgb(159, 159, 159);
  width: 100%;
  height: 4vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
  align-items: flex-start;
  overflow:visible

}

.book-cover {
  height: 37vw;
  width: 25vw;
  object-fit: contain;
  margin-left: 6.25vw;
  // margin-right: 5vw;
}

.info {
  // background-color: rgb(255, 156, 156);
  width: 28vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  height: 37vw;
}

.title {
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  justify-content: space-between;
}

.stars {
  margin-right: 0.6vw;
  flex:2;
}

.star{
  transform: scale(0.75);
  width: 1.5vw;
  color: #F8B823;
}

.number-reviews {
  margin: 0;
  margin-right: 0.6vw;
  font-size: 14px;
  margin-top: 0.4vw;
  color: #D86A2C;
  font-weight: 500;
  flex:3;

}

.number-orders {
  margin: 0;
  margin-right: 0.6vw;
  font-size: 14px;
  margin-top: 0.4vw;
  font-weight: 500;
  color: #81818F;
  flex:1.5;


}

.specifics {
  display: flex;
  flex-direction: column;
}

.spec-row {
  margin-top: 1.5vh;
  display: flex;
}

.tag-spec {
  flex: 1;
  font-size: 13px;
  color: #81818F
}

.value-spec {
  flex: 3;
  font-size: 13px;
}

.text-desc {
  margin-top: 1.5vh;
  font-size: 13px;
}

.title-section {
  margin-top: 2vh;
  font-size: 16px;
  font-weight: 600;
}

.actions{
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
.action-button{
  font-size: 12px;
  background-image: linear-gradient(to right, #F8B823, #D86A2C);
  margin-right: 1.5vw;
}

.publish-button{
  color: white;
}

.review-button{
  background-clip: text;  
  border-width: 2px;
  border-style: solid;
  border-radius: 3px ;
  border-image: linear-gradient(to right, #F8B823, #D86A2C) 1;
}

.text-button{
  // background: linear-gradient(to right, #F8B823, #D86A2C);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.sold-by {
  // background-color: rgb(174, 255, 174);
  width: 14vw;
  margin-right: 6.25vw;
}

.sold-by-container{
  border: 1.5px solid #e6800a50;
  border-radius: 5px;
}

.sold-by-container > button{
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.sold-by-title{
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  font-size: 16px;
  font-weight: 600;
  //text-decoration: underline;
  color: #D86A2C;
}

.product-at-sell{
  border: 1.5px solid #e6800a50;
  border-radius: 5px;
  margin-top: 2vh;
  padding-bottom: 1.5vh;
}
.button-at-sell{
  width: 100%;
  background: none;
  border: none;
  margin: 0;
  margin-left: 1vw;
  margin-top: 1.5vh;
  cursor: pointer;
  padding: 0;
}

// .button-at-sell > p{
//   text-align: left;
// }

.button-text{
  font-size: 14px;
  margin: 0;
  text-align: start ;
  // margin-left: 1vw;
  // margin-top: 1.5vh;
  color: #0072BC
}


.feedback{
  margin-left: 1vw;
  margin-top: 1.5vh;
  font-size: 14px;

}


.rule{
  border: 1px solid #e6800a50;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 0;
}
