<!-- <div class="navbar-test"></div> -->
<div class="content">
  <img
    class="book-cover"
    src="https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_568,c_scale/jackets/9781847496270.jpg"
  />
  <div class="info">
    <h1 class="title">
      Canon EOS 5D Mark 3 Digital SLR Camera Body (MK 3DSLR) *NEW* + *3Year
      Warranty’
    </h1>
    <div class="details">
      <div class="stars">
        <mat-icon *ngIf="score<1" class="star">star_half</mat-icon>
        <mat-icon *ngIf="score>=1" class="star">star</mat-icon>

        <mat-icon *ngIf="score<1.5" class="star">star_border</mat-icon>
        <mat-icon *ngIf="score>=1.5 && score<2" class="star">star_half</mat-icon>
        <mat-icon *ngIf="score>=2" class="star">star</mat-icon>

        <mat-icon *ngIf="score<2.5" class="star">star_border</mat-icon>
        <mat-icon *ngIf="score>=2.5 && score<3" class="star">star_half</mat-icon>
        <mat-icon *ngIf="score>=3" class="star">star</mat-icon>

        <mat-icon *ngIf="score<3.5" class="star">star_border</mat-icon>
        <mat-icon *ngIf="score>=3.5 && score<4" class="star">star_half</mat-icon>
        <mat-icon *ngIf="score>=4" class="star">star</mat-icon>

        <mat-icon *ngIf="score<4.5" class="star">star_border</mat-icon>
        <mat-icon *ngIf="score>=4.5 && score<5" class="star">star_half</mat-icon>
        <mat-icon *ngIf="score>=5" class="star">star</mat-icon>
      </div>
      <p class="number-reviews">125 productos valorados</p>
      <p class="number-orders">425 ventas</p>
    </div>
    <div class="specifics">
      <h2 class="title-section">Especificaciones</h2>
      <div class="specs">
        <div class="spec-row">
          <p class="tag-spec">Autor:</p>
          <p class="value-spec">new</p>
        </div>
        <div class="spec-row">
          <p class="tag-spec">Género:</p>
          <p class="value-spec">ejemplo</p>
        </div>
        <div class="spec-row">
          <p class="tag-spec">ISBN:</p>
          <p class="value-spec">si</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h2 class="title-section">Descripción</h2>
      <p class="text-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nemo
        officiis adipisci voluptates rem corrupti quia deserunt, in qui odio
        dolores aspernatur aliquam voluptas provident numquam a! Adipisci,
        temporibus dolores?
      </p>
    </div>
    <div class="actions">
      <button
        class="action-button publish-button"
        mat-raised-button
        color="warn"
        (click)="navigateToAddProduct()"
      >
        ¡Véndelo!
      </button>
      <button
        class="action-button review-button"
        mat-raised-button
        color="warn"
        (click)="navigateToAddReview()"
      >
        <p class="text-button">Añade tu review</p>
      </button>
    </div>
  </div>
  <div class="sold-by">
    <div class="sold-by-container">
      <button><h2 class="sold-by-title" (click)="navigateToEcommerce()">Vendido por</h2></button>
    </div>
    <div class="product-at-sell">
      <button class="button-at-sell" (click)="openAccountModal()"><p class="button-text">username_264635151</p></button>
      <hr class="rule" />
      <button class="button-at-sell" (click)="navigateToDetailModal()"><p class="button-text">Revisa el producto</p></button>
      <p class="feedback">Ver otros productos del vendedor</p>
      <button class="button-at-sell" (click)="navigateToMessages()"><p class="button-text">Contacta con el vendedor</p></button>
    </div>
    <div class="product-at-sell">
      <button class="button-at-sell" (click)="openAccountModal()"><p class="button-text">username_264635151</p></button>
      <hr class="rule" />
      <button class="button-at-sell" (click)="navigateToDetailModal()"><p class="button-text">Revisa el producto</p></button>
      <p class="feedback">Ver otros productos del vendedor</p>

      <button class="button-at-sell" (click)="navigateToMessages()"><p class="button-text">Contacta con el vendedor</p></button>
    </div>
    <div class="product-at-sell">
      <button class="button-at-sell" (click)="openAccountModal()"><p class="button-text">username_264635151</p></button>
      <hr class="rule" />
      <button class="button-at-sell" (click)="navigateToDetailModal()"><p class="button-text">Revisa el producto</p></button>
      <p class="feedback">Ver otros productos del vendedor</p>

      <button class="button-at-sell" (click)="navigateToMessages()"><p class="button-text">Contacta con el vendedor</p></button>
    </div>
</div>
