<div class="navbar-test"></div>
<div class="content">
  <img
    class="book-cover"
    src="https://res.cloudinary.com/bloomsbury-atlas/image/upload/w_568,c_scale/jackets/9781847496270.jpg"
  />
  <div class="info">
    <h1 class="title">
      Canon EOS 5D Mark 3 Digital SLR Camera Body (MK 3DSLR) *NEW* + *3Year
      Warranty’
    </h1>
    <div class="details">
      <div class="stars">
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
      </div>
      <p class="number-reviews">125 product feedback</p>
      <p class="number-orders">425 orders</p>
    </div>
    <div class="specifics">
      <h2 class="title-section">Item specifics</h2>
      <div class="specs">
        <div class="spec-row">
          <p class="tag-spec">Condition:</p>
          <p class="value-spec">new</p>
        </div>
        <div class="spec-row">
          <p class="tag-spec">Platform:</p>
          <p class="value-spec">ejemplo</p>
        </div>
        <div class="spec-row">
          <p class="tag-spec">Format:</p>
          <p class="value-spec">si</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h2 class="title-section">Item description</h2>
      <p class="text-desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nemo
        officiis adipisci voluptates rem corrupti quia deserunt, in qui odio
        dolores aspernatur aliquam voluptas provident numquam a! Adipisci,
        temporibus dolores?
      </p>
    </div>
    <div class="actions">
      <button
        class="action-button publish-button"
        mat-raised-button
        color="warn"
      >
        Publish your copy
      </button>
      <button
        class="action-button review-button"
        mat-raised-button
        color="warn"
      >
        <p class="text-button">Add your review</p>
      </button>
    </div>
  </div>
  <div class="sold-by">
    <div class="sold-by-container">
      <h2 class="sold-by-title">Sold by</h2>
    </div>
    <div class="product-at-sell">
      <p class="user-id">departamento ux</p>
      <p class="feedback">si</p>
      <hr class="rule" />
      <p class="contact">undefined</p>
      <p class="other-items">asdsasadsasdsa</p>
    </div>
    <div class="product-at-sell">
      <p class="user-id">departamento ux</p>
      <p class="feedback">si</p>
      <hr class="rule" />
      <p class="contact">undefined</p>
      <p class="other-items">asdsasadsasdsa</p>
    </div>
    <div class="product-at-sell">
      <p class="user-id">departamento ux</p>
      <p class="feedback">si</p>
      <hr class="rule" />
      <p class="contact">undefined</p>
      <p class="other-items">asdsasadsasdsa</p>
    </div>
  </div>
</div>
