form.add-copy-form{
    height: calc(100vh - 20em);        
    width: 85vw;
    height: 60em;
    margin: 4.5em auto auto auto;
    font-family: Inter;
    font-size: 0.9em;
}

h2{   
    margin-bottom: 3em;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(8, 0.25fr);
    grid-column-gap: 0px;
    grid-row-gap: 0.8em;
    }


    .title { grid-area: 1 / 1 / 2 / 2; }
    .mat-title { grid-area: 1 / 2 / 2 / 3; }
    .condition { grid-area: 2 / 1 / 3 / 2; }
    .mat-condition { grid-area: 2 / 2 / 3 / 3; width: 30%;}
    .details { grid-area: 3 / 1 / 4 / 2; }
    .mat-details { grid-area: 3 / 2 / 4 / 3; }
    .photos { grid-area: 4 / 1 / 5 / 2; }
    .img-preview { grid-area: 4 / 2 / 5 / 3; }
    .up-photo { grid-area: 5 / 2 / 6 / 3; }
    .description { grid-area: 6 / 1 / 7 / 2; }
    .mat-description { grid-area: 6 / 2 / 7 / 3; }
    .price { grid-area: 7 / 1 / 8 / 2; }
    .mat-price { grid-area: 7 / 2 / 8 / 3; width: 30%;}
    .request-container { grid-area: 8 / 2 / 8 / 3; width: 20%;}
    
    ::ng-deep mat-form-field.form-input > div > div{
        background-color: transparent !important;
    }

    ::ng-deep mat-form-field.form-input > div:first-child > div:first-child{
        border: 1px solid lightgrey;
        border-bottom: none !important;
        border-radius: 6px;
    }
    ::ng-deep mat-form-field.form-input > div:first-child > div:nth-child(2){
        margin-left: 0.4%;
        width: 99.4%;
    }
    ::ng-deep .mat-condition > div:first-child > div:nth-child(2){
        margin-left: 1%;
        width: 98%;
    }
    ::ng-deep .mat-price > div:first-child > div:nth-child(2){
        margin-left: 1%;
        width: 98%;
    }

    mat-label{
        color: rgb(180, 180, 180);
        font-size: 1em;
    }

    mat-hint{
        color: rgb(180, 180, 180);
    }
    img{
        margin-right: 0.8em;
    }
    .up-photo{
        margin: 1em 0 1.5em 0;
        height: 8em;
    }
    ::ng-deep textarea{
        resize: none !important;
    }

    span{
        color: red;
    }

    .request-container{
        height: 10em;
        display: flex;
        flex-direction: column;
    }

    .request-button{
        background-image: linear-gradient(to right, #F8B823, #D86A2C);
        color: white;
        margin-bottom: 1em;
    }
