 <mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="title">Sign in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div>
        <mat-form-field appearance="fill">
          <mat-label class="input-login" >Ingrese su email</mat-label>
          <input  placeholder="pat@example.com" [formControl]="email" required>
        </mat-form-field>
      </div>
      <div class="password-container">
        <mat-form-field appearance="fill">
          <mat-label class="input-login" >Ingrese su contraseña</mat-label>
          <input class="input-login" [formControl]="password" required>
        </mat-form-field>
      </div>
      <div class="pass">
        <a href="#">¿Olvidó su contraseña?</a>
      </div>
  </mat-card-content>
  <mat-card-actions class="button-singin">
      <div class="container-buttton">
            <button mat-raised-button color="accent">Aceptar</button>
      </div>
        
      </mat-card-actions>
        
  </mat-card>


