<div class="modal-login">
  <div class="login-card">
    <div>
      <h2 class="title">Sign in</h2>
    </div>
    <div>
        <div class="email-container">
          <div appearance="fill">
            <input class="login-input" type="text" placeholder="Introduce tu email" name="email" required>        </div>
        </div>
        <div class="password-container">
          <div appearance="fill">
            <input class="login-input" type="password" placeholder="Introduce tu contraseña" password="password" required>        </div>
        </div>
        <div class="forgot-password">
          <a href="#">¿Olvidó su contraseña?</a>
        </div>
    </div>
    <mat-card-actions class="button-singin">
        <div class="container-buttton">
              <button mat-raised-button color="accent"><p class="button-acept">Aceptar</p></button>
        </div>
        </mat-card-actions>
          <h4 class="text-link">¿Aún no te has registrado?</h4>
          <p class="link-register"><a class="link-register" href="#">Regístrate</a></p>  
      </div>
  </div>
  
  
  