body{
    max-height: 100vh;
}
.mat-form-field{
    width: 30vw;
}
.button-acept{
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.modal-login{
    width: 30vw;
    height: 43vh;
    margin-top: 0% !important;
}

button{
    background-image: linear-gradient(to right, #F8B823, #D86A2C);
    width: 90%;
    margin-left: 5% !important;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pass{
    display: flex;
    justify-content:flex-end;
}

.login-input{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    box-sizing: border-box;
    margin-left: 5%;
    }
.forgot-password{
    margin-left: 60%;
}

.title {
    margin-left: 40%;
    margin-bottom: 5%;
}
.link-register{
    text-decoration-color: #D86A2C;
    color: #D86A2C;
    font-weight: bold;
    margin-left: 25%;
}

button.link-register{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #D86A2C;
    text-decoration: underline;
    cursor: pointer;
}
.text-link{
   // margin-left: 30%;
    text-align: center;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
.modal-login{
    width: 35vw;
    height: 55vh;
    }
button{
    margin-left: 30%;
}
.link-register{
    margin-left: 40%;
    text-decoration-color: #D86A2C;
}
.text-register{
    margin-left: 20%;
    text-decoration-color: #D86A2C;
}
.link-register{
    margin-left: 23%;
    color: #D86A2C !important;
    }
.text-link{
    margin-top: 5%;
    margin-left: 20%;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    .modal-login{
    width: 50vw;
    height: 45vh;
    }
    button{
    margin-left: 5% !important;
    margin-top: 5%;
    margin-bottom: 5%;
    }
    .mat-form-field{
    width: 90%;
    margin-left: 5%;
    } 
    .link-register{
    margin-left: 20%;
    color: #D86A2C !important;
    }
    .title{
        margin-left: 35%;
    }
    .text-link{
    margin-top: 5%;
    margin-left: 12%;
    }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
    .title{
    margin-left: 30%;
    }
    .modal-login{
    width: 70vw;
    height: 50vh;
    }
    button{
    width: 60vw;
    height: 5vh;
    }
    .link-register{
    margin-left: 18%;
    color: #D86A2C !important;
    }
    .text-link{
    margin-top: 10%;
    margin-left: 10%;
    }
    .login-input{
    width: 60vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    box-sizing: border-box;
    margin-left: 5%;
    }
}

