body{
    max-width: 100%;
}

.login-card{
    width: 25%;
    margin-top: 10%;
    margin-left: 35%;
}

button{
    background-image: linear-gradient(to right, #F8B823, #D86A2C);
    width: 80%;
    margin-left: 10% !important;
}
.input-login{
    background-color: gainsboro;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0 4px 0 4px;
    width: 90%;
    height: 50%;
    border-color: gainsboro;
}

.pass{
    display: flex;
    justify-content:flex-end;
}

.mat-form-field{
    width: 70%;
    margin-left: 15%;
}
::ng-deep.mat-card-header-text {
    width: 100%;
}
.title {
    text-align: center;
}


@media screen and (max-width: 1000px) and (min-width: 600px) {
button{
    margin-left: 30%;
}
input{
    width: 100%;
    margin-left:10%
}
.login-card{
    width: 50%;
    margin-left: 20%;
}
}
@media screen and (max-width: 600px) and (min-width: 400px) {
    button{
        margin-left: 35% !important;
    }
    input{
        width: 60%;
    }
    .login-card{
        width: 60%;
        margin-left: 15%;
        margin-top: 20%;
    }
    .mat-form-field{
        width: 90%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 400px) and (min-width: 250px) {
    button{
      margin-left: 35% !important;
    }
    input{
        width: 50%;
    }
    .login-card{
        width: 60%;
        margin-right: 15%;
    }
    .mat-form-field{
        width: 100%;
        margin-left: 0%;
    }
}

