<div class="container">
  <div class="logo logo--container">
    <img class="logo logo--svg" src="../../../../assets/svg/Logo - Imagotipo horizontal.svg" alt="" />
  </div>
  <div class="button button--container">
    <button class="button button--sell" mat-button>Vende tu libro</button>
    <button class="button button--login" mat-button >Login</button>
    <button class="button button--register" mat-button>Regístrate</button>
    <button mat-button (click)="openDialog()">Abrir Perfil</button>
  </div>
</div>
