<div class="dashboard dashboard--container">
  <div class="dashboard dashboard--search-filter">
    <app-search></app-search>
    <app-filter></app-filter>
  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="mat-caption">75 <b>resultados</b></div>
  <mat-divider></mat-divider>
  <div class="dashboard dashboard--cards-container"><app-list></app-list></div>
  <mat-divider></mat-divider>
  <div class="mat-headline"><b>Novedades destacadas</b></div>
  <div class="dashboard dashboard--cards-container"><app-list></app-list></div>
  <mat-divider></mat-divider>
  <div class="mat-headline"><b>Los más vendidos</b></div>
  <div class="dashboard dashboard--cards-container"><app-list></app-list></div>
</div>
