<h2 class="contact--title">Mensajes</h2>
<div class="contact--list">
  <!-- <app-contact *ngFor="let user of usersContacts" [user]="user"></app-contact> -->
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
  <app-contact></app-contact>
</div>
