.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    border-top: solid 1px #CBCBCB;
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.25);
}
.a{
    color: #eab334;
}
p , a{
    font-family: Inter ;
}