.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
.contact:hover{
    background-color: var(--secondary-hover-color);
}


p{
    font-size: 0.8em;
}
.contact--name{
    font-weight: bold;
}   
.contact--text{
    margin-left: 1rem;
}

img {
    height: 2.5em;
}