<div class="container">
  <!-- <hr />
  <div class="container-info">
    <h2>Customer Reviews</h2>
    <div>
      <div class="rating">
        <div class="stars">*****</div>
        <p class="rating-number">Asadsdas</p>
      </div>

      <p>SADSADSAaasda</p>
    </div>
  </div> -->
  <hr class="hr1"/>
  <button class="action-button review-button" mat-raised-button color="warn">
    <p class="text-button">Add your review</p>
  </button>
  <hr id="hr2"/>
  <div class="filters-container">
    <h2 class="filter">Filter</h2>
    <h2 class="sortby">Sort by</h2>
  </div>
  <hr id="hr3"/>

  <div class="review">
    <div class="data-review">
      <div class="stars">
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
      </div>
      <p class="text-review">Odio angular</p>

      <!-- TO DO: Las imagenes vendrán del objeto review (El objeto solo puede tener 4 como máximo) -->
      <div class="pictures">
        <div class="pic-container" *ngFor="let photo of photos">
          <img class="picture" [src]="photo" />
        </div>
      </div>
    </div>
    <p class="author">Un sabio</p>
    <p class="date">01/01/2023</p>

    
  </div>
  <hr id="hr3"/>

  <div class="review">
    <div class="data-review">
      <div class="stars">
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
      </div>
      <p class="text-review">Odio angular</p>

      <!-- TO DO: Las imagenes vendrán del objeto review (El objeto solo puede tener 4 como máximo) -->
      <div class="pictures">
        <div class="pic-container" *ngFor="let photo of photos">
          <img class="picture" [src]="photo" />
        </div>
      </div>
    </div>
    <p class="author">Un sabio</p>
    <p class="date">01/01/2023</p>

    
  </div>
  <hr id="hr3"/>

  <div class="review">
    <div class="data-review">
      <div class="stars">
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
        <mat-icon class="star">star</mat-icon>
      </div>
      <p class="text-review">Odio angular</p>

      <!-- TO DO: Las imagenes vendrán del objeto review (El objeto solo puede tener 4 como máximo) -->
      <div class="pictures">
        <div class="pic-container" *ngFor="let photo of photos">
          <img class="picture" [src]="photo" />
        </div>
      </div>
    </div>
    <p class="author">Un sabio</p>
    <p class="date">01/01/2023</p>

    
  </div>
  
</div>
