<div class="container">
  <hr />
  <div class="container-info">
    <h2>Customer Reviews</h2>
    <div>
      <div class="rating">
        <div class="stars">*****</div>
        <p class="rating-number">Asadsdas</p>
      </div>

      <p>SADSADSAaasda</p>
    </div>
  </div>
  <hr />
  <button>Add your review</button>
  <hr />
  <div class="filters-container"></div>
  <hr />

  <div class="review">
    <div class="data-review">
      <div class="stars">*****</div>
      <p class="text-review"></p>
      <div class="pics"></div>
    </div>
    <p class="author"></p>
    <p class="date"></p>
  </div>
</div>
