<div class="container">
  <!-- <hr />
  <div class="container-info">
    <h2>Customer Reviews</h2>
    <div>
      <div class="rating">
        <div class="stars">*****</div>
        <p class="rating-number">Asadsdas</p>
      </div>

      <p>SADSADSAaasda</p>
    </div>
  </div> -->
  <hr class="hr1" />
  <button class="action-button review-button" mat-raised-button color="warn" (click)="navigateToAddReview()">
    <p class="text-button">Añade tu review</p>
  </button>
  <hr id="hr2" />
  <!-- <div class="filters-container">
    <div class="filter-container">
      <mat-icon class="filter-icon">filter_list</mat-icon>
      <h2 class="filter">Filter</h2>
    </div>

    <h2 class="sortby">Sort by</h2>
  </div>
  <hr id="hr3" /> -->

  <div *ngFor="let review of reviews">
    <div class="review">
      <div class="data-review">
        <div class="stars">
          <mat-icon *ngIf="review.rating<1" class="star">star_half</mat-icon>
          <mat-icon *ngIf="review.rating>=1" class="star">star</mat-icon>
  
          <mat-icon *ngIf="review.rating<1.5" class="star">star_border</mat-icon>
          <mat-icon *ngIf="review.rating>=1.5 && review.rating<2" class="star">star_half</mat-icon>
          <mat-icon *ngIf="review.rating>=2" class="star">star</mat-icon>
  
          <mat-icon *ngIf="review.rating<2.5" class="star">star_border</mat-icon>
          <mat-icon *ngIf="review.rating>=2.5 && review.rating<3" class="star">star_half</mat-icon>
          <mat-icon *ngIf="review.rating>=3" class="star">star</mat-icon>
  
          <mat-icon *ngIf="review.rating<3.5" class="star">star_border</mat-icon>
          <mat-icon *ngIf="review.rating>=3.5 && review.rating<4" class="star">star_half</mat-icon>
          <mat-icon *ngIf="review.rating>=4" class="star">star</mat-icon>
  
          <mat-icon *ngIf="review.rating<4.5" class="star">star_border</mat-icon>
          <mat-icon *ngIf="review.rating>=4.5 && review.rating<5" class="star">star_half</mat-icon>
          <mat-icon *ngIf="review.rating>=5" class="star">star</mat-icon>
        </div>
        <p class="text-review">{{review.text}}</p>
  
        <!-- TO DO: Las imagenes vendrán del objeto review (El objeto solo puede tener 4 como máximo) -->
        <!-- <div class="pictures">
          <div class="pic-container" *ngFor="let photo of photos">
            <img class="picture" [src]="photo" />
          </div>
        </div> -->
      </div>
      <!-- <p class="author">{{review.id_user}}</p> -->
      <!-- <p class="date">01/01/2023</p> -->
    </div>
    <hr id="hr3" />
  </div>
