hr{
    border: 1px solid rgb(200, 200, 200);
}

p,h1,h2{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}


.container{
    margin-left: 6.25vw;
  margin-right: 6.25vw;
}

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating{
    display: flex;
    flex-direction: row;
}