<div class="tarjeta">
  <div class="image">
    <img class="image-profile" src="{{ imageProfile }}" alt="Foto de perfil" />
  </div>
  <div class="content">
    <h1 mat-dialog-title>{{ name }}</h1>
    <div class="example-button-container">
      <button mat-button class="button-messsage">
        <mat-icon>message</mat-icon> Send a message
      </button>
    </div>
    <h3 class="userName">Username :</h3>
    <p class="p-dorado">{{ userName }}</p>
    <h4 class="bio">Bio :</h4>
    <p class="bio">{{ bio }}</p>
    <h4 class="texto location">Location:</h4>
    <p class="texto">{{ location }}</p>
  </div>
</div>
